.title {
  width: 200px;
  height: 28px;
  background: var(--gray-light);
  margin-bottom: 16px;
}

.counter {
  width: 120px;
  height: 20px;
  background: var(--gray-light);
  margin-bottom: 24px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.cardTitle {
  width: 60%;
  height: 24px;
  background: var(--gray-light);
  margin-bottom: 8px;
}

.cardPrice {
  width: 30%;
  height: 16px;
  background: var(--gray-light);
  margin-bottom: 8px;
}

.cardDescription {
  width: 80%;
  height: 16px;
  background: var(--gray-light);
}
