.focusable:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 4px;
  border-radius: 4px;
}

.filled svg {
  fill: var(--primary);
}

.star svg {
  margin-right: 5px;
}

.editable {
  cursor: pointer;
}
