.footer {
  background: var(--primary);
  color: var(--white);
  padding: 25px 30px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer nav {
  display: flex;
  gap: 40px;
}

.footer nav a {
  color: var(--white);
  text-decoration: none;
}

.footer nav a:hover {
  color: var(--gray-light);
}

@media (width <= 765px) {
  .footer,
  .footer nav {
    flex-direction: column;
    gap: 10px;
  }
}
